<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Button</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<h1> Test Button Name</h1>

<form th:action="@{/index}" th:object="${user}" method="post">

    <div class="form-group col-md-6">
        <label for="name" class="col-form-label">Name</label>
        <input type="text" th:field="*{name}" id="name" class="form-control">
        <span th:if="${#fields.hasErrors('name')}" class="text-danger">

        </span>
    </div>
    </br>
    <button type="submit" class="btn btn-success col-md-6">Submit</button>
</form>


</body>
</html>